<main id="main" class="main">
  <div class="pagetitle">
    <h1> تحويل</h1>
    <nav class="my-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/Home">الصفحة الرئيسية</a>
        </li>
        <li class="breadcrumb-item"></li>
        <li class="breadcrumb-item active">التحويل</li>
      </ol>
    </nav>
  </div>
  <section dir="rtl">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">حساب العميل</h3>
          <form [formGroup]="customeraccountsform">
            <div class="row my-3">
              <div class="col-12 col-lg-6 my-md-2">
                <label for="inputText" class="col-form-label">اسم العميل</label>
                <div class="col-sm-10">
                  <div>
                    <ngx-select
                      [items]="customers"
                      formControlName="accountID"
                      optionValueField="id"
                      optionTextField="name"
                      [(ngModel)]="customerID"
                      (ngModelChange)="selectedcustomer(customerID)"
                    ></ngx-select>
                    <div
                      *ngIf="
                        transact &&
                        customeraccountsform.controls['accountID'].errors
                      "
                      class="text-danger"
                    >
                      <small
                        *ngIf="
                          customeraccountsform.controls['accountID'].errors[
                            'required'
                          ]
                        "
                        >يجب اختيار العميل</small
                      >
                    </div>
                  </div>
                </div>
              </div>
             
              <div class="col-12 col-lg-6 my-md-2">
                <label for="Amount" class="col-form-label">
                  المبلغ المدفوع</label
                >
                <div class="col-sm-10">
                  <input
                    id="Amount"
                    type="number"
                    class="form-control"
                    formControlName="paid"
                    [ngClass]="{
                      'is-invalid':
                        transact && customeraccountsform.controls['paid'].errors
                    }"
                    [ngClass]="{
                      'is-valid': customeraccountsform.controls['paid'].valid
                    }"
                  />
                  <div
                    *ngIf="
                      transact && customeraccountsform.controls['paid'].errors
                    "
                    class="text-danger"
                  >
                    <small
                      *ngIf="
                        customeraccountsform.controls['paid'].errors['required']
                      "
                      >يجب ادخال المبلغ
                    </small>
                    <br />
                    <small
                      *ngIf="
                        customeraccountsform.controls['paid'].errors['pattern']
                      "
                      >يجب ادخال ارقام
                    </small>
                  </div>
                </div>
              </div>
        
           
              <div
                class="col-12 col-lg-6 my-md-2 d-flex align-items-end mt-3 justify-content-start"
              >
                <button
                  type="submit"
                  class="btn btn-primary px-4 mx-2 py-2"
                  (click)="Paid()"
                >
                  دفع للعميل
                </button>
             
               </div>
            </div>
          </form>
        </div>
      </div>
    </div>
     
  </section>
</main>
