<main>
  <div class="container" dir="rtl">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            
            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">تسجيل الدخول</h5>
                </div>
                <form
                  class="row g-3"
                  [formGroup]="LoginForm"
                  (ngSubmit)="onSubmit()"
                >
                  <div class="col-12">
                    <label for="yourUsername" class="form-label"
                      >رقم الهاتف </label
                    >
                    <input
                      type="text"
                      formControlName="userName"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid':
                          submitted && LoginForm.controls.userName.errors
                      }"
                      id="yourUsername"
                    />
                    <div
                      *ngIf="submitted && LoginForm.controls.userName.errors"
                      class="text-danger"
                    >
                      <div *ngIf="LoginForm.controls.userName.errors.required">
                        قم بادخال الاسم !
                      </div>
                      <div *ngIf="LoginForm.controls.userName.errors.userName">
                        قم بادخال الاسم !
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="yourPassword" class="form-label"
                      >كلمة المرور</label
                    >
                    <input
                      type="password"
                      formControlName="password"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid':
                          submitted && LoginForm.controls.password.errors
                      }"
                      id="yourPassword"
                    />
                    <div
                      *ngIf="submitted && LoginForm.controls.password.errors"
                      class="text-danger"
                    >
                      <div *ngIf="LoginForm.controls.password.errors.required">
                        قم بادخال كلمه المرور
                      </div>
                      <div *ngIf="LoginForm.controls.password.errors.password">
                        اخل كلمه مرور صحيحه!
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="remember"
                      value="true"
                      id="rememberMe"
                    />
                    <label class="form-check-label mx-3" for="rememberMe"
                      >تذكر هذا الحساب</label
                    >
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100 mb-4" type="submit">
                      تسجيل الدخول
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
